* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 1px rgba(48, 33, 175, 1);
  margin-right: 0.5rem;
}

.tekst_forside {
  color: rgba(48, 33, 175, 1);
}

.cities {
  background-color: rgba(48, 33, 175, 1);
  padding-top: 20px;
  padding-left: 30px;
}

.cities h3,
h1 {
  color: white;
  margin-top: 15px;
}

.tekst_forside {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .info {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tekst_forside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }

  .tekst_forside2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
