---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">

		<title>Forside</title>
	</head>

<header>
	<Header>
</header>

	<body>
	<section class="tekst_forside2">
    <h1 class="tekst_forside">
    <span class="outline">THE</span> TRAVEL INSPIRATION
    </h1>
    <h1 class="tekst_forside">
    <span class="outline">FOR THE</span> CREATIVE BABES
    </h1>
	</section>
<div class="cities">
	<h3>Cities of the month</h3>
	<h1>GET NEWSLETTERS EACH WEEK ABOUT YOUR UPCOMING DESTINATION</h1>
</div>
	<div class="grid_1_1_1">
		<a href="/src/pages/berlin.astro">
		<Card img="/imgs/ber_img.webp" tag="Local CRTV" text="Street Art walk in Copenhagen through the eyes of a digital designer" />
		</a>
		<a href="/src/pages/london.astro">
		<Card img="/imgs/ldn_img.webp" tag="Local CRTV" text="Street Art walk in London through the eyes of a digital designer" />
		</a>
		<a href="/src/pages/kobenhavn.astro">
		<Card img="/imgs/cph_img.webp" tag="Local CRTV" text="Street Art walk in Copenhagen through the eyes of a digital designer" />
	</a>
	</div>
<img class="info" src="public/imgs/whatis.webp" alt="figur">
	</body>

	<footer>
		<Footer>
	</footer>
</html>
