---
import "../styles/style.css";
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="robots" content="noindex">
		<title>København</title>
	</head>

    <body>
        <h1>“more inspiration than you've ever seen before”</h5>
    </body>

</html>