<section class="footer">
    <p>NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETT</p>
   <div class="grid2">
    <h1>DESIGN NEWS TO<br>YOUR INBOX</h1>
     <form>
      <input type="email" placeholder="Email" required>
      <button type="submit">SIGN UP</button>
    </form>
    </div> 
<div class="undermenu">
    <div>
        <p>Art</p>
        <p>Design</p>
        <p>Architecute</p>
    </div>
    <div>
        <p>Website</p>
        <p>Podcast</p>
        <p>Authors</p>
    </div>
    <div>
        <p>Styleguide</p>
        <p>Licensing</p>
        <p>Changelog</p>
    </div>
</div>

</section>

<style>
    
    .footer{
        background-color: rgba(51, 51, 51, 1);
        margin-top: 2rem;
    }

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
    .undermenu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        padding-top: 2rem;
    }
   

    p{
        color: white;
        padding-top: 1rem;
    }
    h1{
        padding-top: 3rem;
    }

    form{
        padding-top: 5rem;
    }

    .grid2fr{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

</style>