<div class="box">
    <img class="burgermenu" src="Burger menu.svg" alt="">
<img src="Group 1.svg" alt="logo">
</div>


<style>
    .box {
        background-color: rgba(48, 33, 175, 1);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .burgermenu{
        padding-left: 80px;
    }
</style>