<section class="footer">
    <p>NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTER++NEWSLETTE</p>
   <div class="grid2">
    <h1>HIDDEN SPOTS IN<br>YOUR INBOX!!</h1>
     <form>
      <input type="email" placeholder="Email" required>
      <button type="submit">SIGN UP</button>
    </form>
    </div> 
<img src="public/logo.svg" alt="">
</section>

<style>
    
    .footer{
        background-color: rgba(51, 51, 51, 1);
        margin-top: 2rem;
    }

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

    p{
        color: white;
        padding-top: 1rem;
    }
    h1{
        padding-top: 3rem;
    }

    form{
        padding-top: 5rem;
    }

</style>