<body>

<section class="section1">
<h3>JOE JOENSEN - A POSTER DESIGNER IN BERLIN</h3>
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis id mi nec scelerisque. Etiam eget mi nunc. Phasellus urna mi, vehicula quis nisi in, vestibulum vulputate velit. Duis dolor quam, tempus quis turpis eu, efficitur fermentum magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam viverra neque a orci vehicula sodales. Donec ut erat congue, lacinia elit ultricies, vestibulum tellus. 

Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. Ut commodo tempus nibh nec hendrerit. Morbi ac feugiat leo, sed semper diam. Cras tincidunt et velit in eleifend.

Maecenas mollis neque sed elit commodo, auctor vehicula turpis congue. Praesent hendrerit, enim ut bibendum bibendum, ante neque porta eros, eget ornare magna diam ut ante. Curabitur auctor faucibus eros, id tristique elit ullamcorper id. Duis ut aliquam ipsum. Cras semper et dolor id dignissim. Aliquam ornare turpis in ullamcorper mollis. “</p>

<img src="public/imgs/joejohn.webp" alt="">
<h3>OUTSIDE ART? INVIROEMENTAL THOUGHTS? </h3>
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis id mi nec scelerisque. Etiam eget mi nunc. Phasellus urna mi, vehicula quis nisi in, vestibulum vulputate velit. Duis dolor quam, tempus quis turpis eu, efficitur fermentum magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam viverra neque a orci vehicula sodales. Donec ut erat congue, lacinia elit ultricies, vestibulum tellus. </p>
</section>

</body>

<style>
   
    body{
        max-width: 65ch;
        margin: 0 auto;
    }

    h3{
        margin-top: 2rem;
    }

    p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .section1{
        background-color: white;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }


</style>